h1{
    text-align:center;
    color:white;
}

body{
    background-color:paleturquoise;
}

#intro{
    border:solid white;
    background-color:floralwhite;
}

#intro:hover{
    background-color:antiquewhite;
    box-sizing:
}