h1{
    text-align:center;
    color:white;
}

body{
    background-color:paleturquoise;
}

#topPage{
    border:solid white;
    background-color:floralwhite;
}

#topPage:hover{
    background-color:antiquewhite;
}